# Gaussian-Naive-Bayes Classifier
## Definition
Naive Bayes can be extended for real-valued features. If the values in our dataset have a continuous pattern, it may be chosen Gaussian Naive Bayes classification. There are other types of funtions but Gaussian (or normal distribution) is the simplest one because you only need to compute the mean and standard deviation from your training data.

## Gaussian-Naive-Bayes Formulation
to be filled

In [16]:
import pandas as pd

dataset = pd.read_csv('iris.txt',sep=' ')
dataset.describe()

               sl          sw          pl          pw           c
count  150.000000  150.000000  150.000000  150.000000  150.000000
mean     5.843333    3.054000    3.758667    1.198667    2.000000
std      0.828066    0.433594    1.764420    0.763161    0.819232
min      4.300000    2.000000    1.000000    0.100000    1.000000
25%      5.100000    2.800000    1.600000    0.300000    1.000000
50%      5.800000    3.000000    4.350000    1.300000    2.000000
75%      6.400000    3.300000    5.100000    1.800000    3.000000
max      7.900000    4.400000    6.900000    2.500000    3.000000

In [24]:
# if dataset.index % test_indis == 0 
# then it is going to be used as test dataset
# they will not be attended into the train dataset
test_indis = 11

test_dataset = dataset[dataset.index % test_indis == 0]
train_dataset = dataset[dataset.index % test_indis != 0]

# total count of sample space
total = len(train_dataset)

train_dataset.describe()

               sl          sw          pl          pw           c
count  136.000000  136.000000  136.000000  136.000000  136.000000
mean     5.858824    3.036765    3.770588    1.198529    2.007353
std      0.841821    0.431845    1.770211    0.761479    0.820987
min      4.300000    2.000000    1.100000    0.100000    1.000000
25%      5.100000    2.800000    1.575000    0.300000    1.000000
50%      5.800000    3.000000    4.350000    1.300000    2.000000
75%      6.400000    3.300000    5.100000    1.800000    3.000000
max      7.900000    4.400000    6.900000    2.500000    3.000000

In [53]:
import math
math.pi

3.141592653589793

In [52]:
import math

cls = "c"

p_c = {idx: item / total for idx, item in train_dataset[cls].value_counts().iteritems()}

# (1 / (sqrt(2 * PI) * sd)) * exp(-((x-mean^2)/(2*sd^2)))

def pdf(x, mean, sd):
    return (1 / ((2 * math.pi) ** (1 / 2.0) * sd)) * math.exp( - ((x - mean ** 2) / (2 * sd ** 2)))
# end of def pdf

# go-out = P(pdf(weather)|class=go-out) * P(pdf(car)|class=go-out) * P(class=go-out)

for idx, test_item in test_dataset.iteritems():
    means = {idx: item.mean() for idx, item in train_dataset.iteritems() if idx != cls && item.c == test_}
    stds = {idx: item.std() for idx, item in train_dataset.iteritems() if idx != cls}

## References
* Scikit-learn, Naive Bayes, http://scikit-learn.org/stable/modules/naive_bayes.html (30/10/2017)
* Machine Learing Mastery, https://machinelearningmastery.com/naive-bayes-for-machine-learning/ (30/10/2017)